@inject IJSRuntime runtime
<MudContainer Class="d-flex align-center justify-center mud-width-full ease-in game-over fireworks" 
    Style="height:100vh;background-color:black">
    <MudStack Class="align-center">
        <h1 style="color:red">YOU DIED</h1>
        <p style="color:red">Game Over</p>
        @if (string.IsNullOrWhiteSpace(SavedTexts))
        {
            <p style="color: white">No Scribbles Completed.</p>
        }
        <p style="color:white; overflow-wrap:break-word">@SavedTexts</p>
        <MudStack Row=true>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OnReset">Try Again</MudButton>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.ContentCopy" OnClick="@(() => runtime.InvokeVoidAsync("navigator.clipboard.writeText", SavedTexts))">Copy to Clipboard</MudButton>

        </MudStack>
    </MudStack>

</MudContainer>

<style>
    .game-over {
        font-family: DarkSouls;
    }
  }
</style>

@code {
    [Parameter]
    public Action OnReset { get; set; } = () => { };

    [Parameter]
    public string? SavedTexts { get; set; }
}