@inherits LayoutComponentBase
<MudThemeProvider @rendermode="InteractiveAuto" />
<MudDialogProvider @rendermode="InteractiveAuto" />
<MudSnackbarProvider @rendermode="InteractiveAuto" />

<MudLayout>
    <MudAppBar>
        <a href="/" style="color:white">Scribble Sprinter</a>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
