@inherits ComponentViewModelBase<SprintViewModel>
<p>@SavedTexts</p>
<MudProgressLinear Color="Color.Secondary" Value="@Vm.Value" Class="my-7" Min="0" Max="@Vm.TimeLimit" />
<MudTextField T="string" Label="Start typing to start..." Variant="Variant.Outlined" @bind-Value="@Vm.Text" Lines="10" Immediate=true AutoFocus=true />

@code {
    [Parameter]
    public Action<string>? OnSprintCompleted { get; set; }

    [Parameter]
    public Action? OnGameOver { get; set; }

    [Parameter]
    public string? SavedTexts { get; set; }

    [Parameter]
    public int SprintSeconds { get; set; } = 60;

    [Parameter]
    public int TypingSpeed { get; set; } = 1000;

    protected override void OnInitialized()
    {
        Vm.OnSprintCompleted = OnSprintCompleted;
        Vm.OnGameOver = OnGameOver;
        Vm.TypingSpeed = TypingSpeed;
        Vm.TimeLimit = SprintSeconds;
        base.OnInitialized();
    }
}